[submodule "archlinux_base/lcov"]
	path = archlinux_base/lcov
	url = https://aur.archlinux.org/lcov.git
[submodule "archlinux_base/appimage-git"]
	path = archlinux_base/appimage-git
	url = https://aur.archlinux.org/appimage-git.git
